icon.icns        NUI_RESOURCE    "resources/icon.icns"
icon.ico        NUI_RESOURCE    "resources/icon.ico"
icon.png        NUI_RESOURCE    "resources/icon.png"
test-arabic.txt        NUI_RESOURCE    "resources/test-arabic.txt"
test-chinese.txt        NUI_RESOURCE    "resources/test-chinese.txt"
test-devanagari.txt        NUI_RESOURCE    "resources/test-devanagari.txt"
test-gurmukhi.txt        NUI_RESOURCE    "resources/test-gurmukhi.txt"
test-hangul.txt        NUI_RESOURCE    "resources/test-hangul.txt"
test-hebrew.txt        NUI_RESOURCE    "resources/test-hebrew.txt"
test-ipa.txt        NUI_RESOURCE    "resources/test-ipa.txt"
test-japanese.txt        NUI_RESOURCE    "resources/test-japanese.txt"
test-japanese2.txt        NUI_RESOURCE    "resources/test-japanese2.txt"
test-lao.txt        NUI_RESOURCE    "resources/test-lao.txt"
test-latin.txt        NUI_RESOURCE    "resources/test-latin.txt"
test-long-paragraph.txt        NUI_RESOURCE    "resources/test-long-paragraph.txt"
test-mixed.txt        NUI_RESOURCE    "resources/test-mixed.txt"
test-nko.txt        NUI_RESOURCE    "resources/test-nko.txt"
test-syriac.txt        NUI_RESOURCE    "resources/test-syriac.txt"
test-tamil.txt        NUI_RESOURCE    "resources/test-tamil.txt"
test-thai.txt        NUI_RESOURCE    "resources/test-thai.txt"
test-tibetan.txt        NUI_RESOURCE    "resources/test-tibetan.txt"
test.txt        NUI_RESOURCE    "resources/test.txt"
test2.txt        NUI_RESOURCE    "resources/test2.txt"
css/main.css        NUI_RESOURCE    "resources/css/main.css"
decorations/image.png        NUI_RESOURCE    "resources/decorations/image.png"
0 ICON "resources/icon.ico"
