Atlas.css        NUI_RESOURCE    "resources/Atlas.css"
Atlas.plist        NUI_RESOURCE    "resources/Atlas.plist"
Atlas.png        NUI_RESOURCE    "resources/Atlas.png"
Atlas.zwd        NUI_RESOURCE    "resources/Atlas.zwd"
icon.icns        NUI_RESOURCE    "resources/icon.icns"
icon.ico        NUI_RESOURCE    "resources/icon.ico"
icon.png        NUI_RESOURCE    "resources/icon.png"
Untitled_TextureAtlas.plist        NUI_RESOURCE    "resources/Untitled_TextureAtlas.plist"
css/style-Common.css        NUI_RESOURCE    "resources/css/style-Common.css"
css/style-iPhone.css        NUI_RESOURCE    "resources/css/style-iPhone.css"
css/style.css        NUI_RESOURCE    "resources/css/style.css"
decorations/Atlas.png        NUI_RESOURCE    "resources/decorations/Atlas.png"
0 ICON "resources/icon.ico"
