//
// main nui3 stylesheet
//

// you can include your stylesheets this way:
// #include "myStylesheet.css"

// remember each stylesheet file must have at least a blank ending line, 
// or the stylehsheet parsing may not work properly


"ForwardButton"!
{
  Position: Left;
  BorderLeft: 5;
  BorderRight: 5;
}

"FastForwardButton"!
{
  Position: Left;
  BorderLeft: 5;
  BorderRight: 5;
}

// blank ending line following

