all-unicode.txt        NUI_RESOURCE    "../data/all-unicode.txt"
BlueLightON.png        NUI_RESOURCE    "../data/BlueLightON.png"
bt-roll.png        NUI_RESOURCE    "../data/bt-roll.png"
bt.png        NUI_RESOURCE    "../data/bt.png"
bt_roll.png        NUI_RESOURCE    "../data/bt_roll.png"
butterfly.svg        NUI_RESOURCE    "../data/butterfly.svg"
fondtrack.png        NUI_RESOURCE    "../data/fondtrack.png"
frame1.png        NUI_RESOURCE    "../data/frame1.png"
funkyloop.ogg        NUI_RESOURCE    "../data/funkyloop.ogg"
GLASS.txt        NUI_RESOURCE    "../data/GLASS.txt"
gnu.png        NUI_RESOURCE    "../data/gnu.png"
HELLO.txt        NUI_RESOURCE    "../data/HELLO.txt"
HorizontalSliderHandle.png        NUI_RESOURCE    "../data/HorizontalSliderHandle.png"
jpeg.jpg        NUI_RESOURCE    "../data/jpeg.jpg"
left_tab.png        NUI_RESOURCE    "../data/left_tab.png"
lion.svg        NUI_RESOURCE    "../data/lion.svg"
ngl.png        NUI_RESOURCE    "../data/ngl.png"
nui.png        NUI_RESOURCE    "../data/nui.png"
nui1.fla        NUI_RESOURCE    "../data/nui1.fla"
nui1.swf        NUI_RESOURCE    "../data/nui1.swf"
rasters.png        NUI_RESOURCE    "../data/rasters.png"
rasters2.png        NUI_RESOURCE    "../data/rasters2.png"
sample1.xml        NUI_RESOURCE    "../data/sample1.xml"
sampletext.txt        NUI_RESOURCE    "../data/sampletext.txt"
sampletext2.txt        NUI_RESOURCE    "../data/sampletext2.txt"
small_ngl.png        NUI_RESOURCE    "../data/small_ngl.png"
stateBt_off.png        NUI_RESOURCE    "../data/stateBt_off.png"
stateBt_on.png        NUI_RESOURCE    "../data/stateBt_on.png"
stateBt_roll.png        NUI_RESOURCE    "../data/stateBt_roll.png"
test.css        NUI_RESOURCE    "../data/test.css"
test.html        NUI_RESOURCE    "../data/test.html"
test.png        NUI_RESOURCE    "../data/test.png"
test2.png        NUI_RESOURCE    "../data/test2.png"
testalacon.png        NUI_RESOURCE    "../data/testalacon.png"
tiger.svg        NUI_RESOURCE    "../data/tiger.svg"
toucan.png        NUI_RESOURCE    "../data/toucan.png"
Vera.ttf        NUI_RESOURCE    "../data/Vera.ttf"
VeraCopyright.txt        NUI_RESOURCE    "../data/VeraCopyright.txt"
VeraMono.ttf        NUI_RESOURCE    "../data/VeraMono.ttf"
VerticalSliderHandle.png        NUI_RESOURCE    "../data/VerticalSliderHandle.png"
white-xifish.png        NUI_RESOURCE    "../data/white-xifish.png"
xyz.3ds        NUI_RESOURCE    "../data/xyz.3ds"
zvonok.gif        NUI_RESOURCE    "../data/zvonok.gif"
font_tests/test-arabic.txt        NUI_RESOURCE    "../data/font_tests/test-arabic.txt"
font_tests/test-chinese.txt        NUI_RESOURCE    "../data/font_tests/test-chinese.txt"
font_tests/test-devanagari.txt        NUI_RESOURCE    "../data/font_tests/test-devanagari.txt"
font_tests/test-gurmukhi.txt        NUI_RESOURCE    "../data/font_tests/test-gurmukhi.txt"
font_tests/test-hangul.txt        NUI_RESOURCE    "../data/font_tests/test-hangul.txt"
font_tests/test-hebrew.txt        NUI_RESOURCE    "../data/font_tests/test-hebrew.txt"
font_tests/test-ipa.txt        NUI_RESOURCE    "../data/font_tests/test-ipa.txt"
font_tests/test-japanese.txt        NUI_RESOURCE    "../data/font_tests/test-japanese.txt"
font_tests/test-japanese2.txt        NUI_RESOURCE    "../data/font_tests/test-japanese2.txt"
font_tests/test-lao.txt        NUI_RESOURCE    "../data/font_tests/test-lao.txt"
font_tests/test-latin.txt        NUI_RESOURCE    "../data/font_tests/test-latin.txt"
font_tests/test-long-paragraph.txt        NUI_RESOURCE    "../data/font_tests/test-long-paragraph.txt"
font_tests/test-mixed.txt        NUI_RESOURCE    "../data/font_tests/test-mixed.txt"
font_tests/test-nko.txt        NUI_RESOURCE    "../data/font_tests/test-nko.txt"
font_tests/test-syriac.txt        NUI_RESOURCE    "../data/font_tests/test-syriac.txt"
font_tests/test-tamil.txt        NUI_RESOURCE    "../data/font_tests/test-tamil.txt"
font_tests/test-thai.txt        NUI_RESOURCE    "../data/font_tests/test-thai.txt"
font_tests/test-tibetan.txt        NUI_RESOURCE    "../data/font_tests/test-tibetan.txt"
knob/4060.png        NUI_RESOURCE    "../data/knob/4060.png"
knob/knob0.png        NUI_RESOURCE    "../data/knob/knob0.png"
knob/knob1.png        NUI_RESOURCE    "../data/knob/knob1.png"
knob/knob10.png        NUI_RESOURCE    "../data/knob/knob10.png"
knob/knob11.png        NUI_RESOURCE    "../data/knob/knob11.png"
knob/knob12.png        NUI_RESOURCE    "../data/knob/knob12.png"
knob/knob13.png        NUI_RESOURCE    "../data/knob/knob13.png"
knob/knob14.png        NUI_RESOURCE    "../data/knob/knob14.png"
knob/knob15.png        NUI_RESOURCE    "../data/knob/knob15.png"
knob/knob16.png        NUI_RESOURCE    "../data/knob/knob16.png"
knob/knob17.png        NUI_RESOURCE    "../data/knob/knob17.png"
knob/knob18.png        NUI_RESOURCE    "../data/knob/knob18.png"
knob/knob19.png        NUI_RESOURCE    "../data/knob/knob19.png"
knob/knob2.png        NUI_RESOURCE    "../data/knob/knob2.png"
knob/knob20.png        NUI_RESOURCE    "../data/knob/knob20.png"
knob/knob21.png        NUI_RESOURCE    "../data/knob/knob21.png"
knob/knob22.png        NUI_RESOURCE    "../data/knob/knob22.png"
knob/knob23.png        NUI_RESOURCE    "../data/knob/knob23.png"
knob/knob24.png        NUI_RESOURCE    "../data/knob/knob24.png"
knob/knob25.png        NUI_RESOURCE    "../data/knob/knob25.png"
knob/knob26.png        NUI_RESOURCE    "../data/knob/knob26.png"
knob/knob27.png        NUI_RESOURCE    "../data/knob/knob27.png"
knob/knob28.png        NUI_RESOURCE    "../data/knob/knob28.png"
knob/knob29.png        NUI_RESOURCE    "../data/knob/knob29.png"
knob/knob3.png        NUI_RESOURCE    "../data/knob/knob3.png"
knob/knob30.png        NUI_RESOURCE    "../data/knob/knob30.png"
knob/knob4.png        NUI_RESOURCE    "../data/knob/knob4.png"
knob/knob5.png        NUI_RESOURCE    "../data/knob/knob5.png"
knob/knob6.png        NUI_RESOURCE    "../data/knob/knob6.png"
knob/knob7.png        NUI_RESOURCE    "../data/knob/knob7.png"
knob/knob8.png        NUI_RESOURCE    "../data/knob/knob8.png"
knob/knob9.png        NUI_RESOURCE    "../data/knob/knob9.png"
localization/fr.loc        NUI_RESOURCE    "../data/localization/fr.loc"
slider/background.png        NUI_RESOURCE    "../data/slider/background.png"
slider/backgroundVertical.png        NUI_RESOURCE    "../data/slider/backgroundVertical.png"
slider/handle.png        NUI_RESOURCE    "../data/slider/handle.png"
