icon.icns        NUI_RESOURCE    "resources/icon.icns"
icon.ico        NUI_RESOURCE    "resources/icon.ico"
icon.png        NUI_RESOURCE    "resources/icon.png"
css/style-Common.css        NUI_RESOURCE    "resources/css/style-Common.css"
css/style-iPhone.css        NUI_RESOURCE    "resources/css/style-iPhone.css"
css/style.css        NUI_RESOURCE    "resources/css/style.css"
decorations/Background-iPhone.png        NUI_RESOURCE    "resources/decorations/Background-iPhone.png"
decorations/Background.png        NUI_RESOURCE    "resources/decorations/Background.png"
decorations/Logo.png        NUI_RESOURCE    "resources/decorations/Logo.png"
Gizmo/MainAnim/knob0.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob0.png"
Gizmo/MainAnim/knob1.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob1.png"
Gizmo/MainAnim/knob10.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob10.png"
Gizmo/MainAnim/knob11.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob11.png"
Gizmo/MainAnim/knob12.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob12.png"
Gizmo/MainAnim/knob13.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob13.png"
Gizmo/MainAnim/knob14.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob14.png"
Gizmo/MainAnim/knob15.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob15.png"
Gizmo/MainAnim/knob16.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob16.png"
Gizmo/MainAnim/knob17.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob17.png"
Gizmo/MainAnim/knob18.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob18.png"
Gizmo/MainAnim/knob19.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob19.png"
Gizmo/MainAnim/knob2.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob2.png"
Gizmo/MainAnim/knob20.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob20.png"
Gizmo/MainAnim/knob21.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob21.png"
Gizmo/MainAnim/knob22.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob22.png"
Gizmo/MainAnim/knob23.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob23.png"
Gizmo/MainAnim/knob24.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob24.png"
Gizmo/MainAnim/knob25.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob25.png"
Gizmo/MainAnim/knob26.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob26.png"
Gizmo/MainAnim/knob27.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob27.png"
Gizmo/MainAnim/knob28.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob28.png"
Gizmo/MainAnim/knob29.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob29.png"
Gizmo/MainAnim/knob3.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob3.png"
Gizmo/MainAnim/knob30.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob30.png"
Gizmo/MainAnim/knob4.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob4.png"
Gizmo/MainAnim/knob5.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob5.png"
Gizmo/MainAnim/knob6.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob6.png"
Gizmo/MainAnim/knob7.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob7.png"
Gizmo/MainAnim/knob8.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob8.png"
Gizmo/MainAnim/knob9.png        NUI_RESOURCE    "resources/Gizmo/MainAnim/knob9.png"
0 ICON "resources/icon.ico"
