icon.icns        NUI_RESOURCE    "resources/icon.icns"
icon.ico        NUI_RESOURCE    "resources/icon.ico"
icon.png        NUI_RESOURCE    "resources/icon.png"
css/style-Common.css        NUI_RESOURCE    "resources/css/style-Common.css"
css/style-iPhone.css        NUI_RESOURCE    "resources/css/style-iPhone.css"
css/style.css        NUI_RESOURCE    "resources/css/style.css"
decorations/Background-iPhone.png        NUI_RESOURCE    "resources/decorations/Background-iPhone.png"
decorations/Background.png        NUI_RESOURCE    "resources/decorations/Background.png"
decorations/Logo.png        NUI_RESOURCE    "resources/decorations/Logo.png"
0 ICON "resources/icon.ico"
