//
// main nui3 stylesheet
//

// you can include your stylesheets this way:
//#include "style-Common.css"

// remember each stylesheet file must have at least a blank ending line, 
// or the stylehsheet parsing may not work properly

@nuiColorDecoration dMyViewController0
{
  FillColor: rgb(240,182,178);
  ShapeMode: Fill;
}
@nuiColorDecoration dMyViewController1
{
  FillColor: rgb(178,240,220);
  ShapeMode: Fill;
}
@nuiColorDecoration dMyViewController2
{
  FillColor: rgb(178,184,240);
  ShapeMode: Fill;
}

@nuiNavigationViewDecoration dMyViewController
{
  DeviceStyle: Default;
}


MyViewController0!
{
  Decoration: dMyViewController;
}

MyViewController1!
{
  Decoration: dMyViewController;
}

MyViewController2!
{
  Decoration: dMyViewController;
}



@nuiFont fontName
{
  Name: "Arial";
  Size: 24;
  Italic: false; 
  Bold: true;
}


"PopButton0"!
{
  Position: TopLeft;
  UserWidth: 120;
  UserHeight: 32;
  BorderLeft: 20;
  BorderTop: 20;
}

"PopButton1"!
{
  Position: TopLeft;
  UserWidth: 120;
  UserHeight: 32;
  BorderLeft: 20;
  BorderTop: 80;
}

"PopButton2"!
{
  Position: TopLeft;
  UserWidth: 120;
  UserHeight: 32;
  BorderLeft: 20;
  BorderTop: 140;
}

"PopButton3"!
{
  Position: TopLeft;
  UserWidth: 120;
  UserHeight: 32;
  BorderLeft: 20;
  BorderTop: 220;
}

"PopButton4"!
{
  Position: TopLeft;
  UserWidth: 120;
  UserHeight: 32;
  BorderLeft: 20;
  BorderTop: 300;
}


"PushButton0"!
{
  Position: TopRight;
  UserWidth: 120;
  UserHeight: 32;
  BorderRight: 20;
  BorderTop: 20;
}

"PushButton1"!
{
  Position: TopRight;
  UserWidth: 120;
  UserHeight: 32;
  BorderRight: 20;
  BorderTop: 80;
}

"PushButton2"!
{
  Position: TopRight;
  UserWidth: 120;
  UserHeight: 32;
  BorderRight: 20;
  BorderTop: 140;
}


// blank ending line following

