//
// main nui3 stylesheet
//

// you can include your stylesheets this way:
// #include "myStylesheet.css"

// remember each stylesheet file must have at least a blank ending line, 
// or the stylehsheet parsing may not work properly


"MyImage"!
{
  Texture: "rsrc:/decorations/image.png";
  UserWidth: 100;
  UserHeight: 100;
  BorderLeft: 10;
}


@nuiGradientDecoration dFolderHead
{
  Color1: rgb(200,200,200);
  Color2: rgb(150,150,150);
  StrokeColor: lightgray;
  ShapeMode: Stroke;
  StrokeSize: 1;
  ClientRect: "{5 5 0 0}";
}

@nuiGradientDecoration BgDeco
{
  Color1: rgb(230,230,230);
  Color2: rgb(210,210,210);
  StrokeColor: rgb(180,180,180);
  ShapeMode: Stroke;
  StrokeSize: 0;
}

@nuiColorDecoration BoxDeco
{
  StrokeColor: rgb(150,150,150);
  ShapeMode: Stroke;
  StrokeSize: 1;
}

nuiVBox!
{
  Decoration: BgDeco;
}

"nuiFolderPane::Title"!
{
  DecorationMode: border;
  Decoration: dFolderHead;
}

"nuiRSSView::Description"!
{
  DecorationMode: border;
  Decoration: dRSSDesc;
  //BorderBottom: 4;
}

"RSSURL"!
{
  BorderLeft : 8;
  BorderRight : 8;
  Position: FillHorizontal;
}

nuiRSSView!
{
  Decoration: BoxDeco;
  BorderRight : 2;
}

nuiScrollView!
{
  BorderLeft: 10;
  BorderRight: 10;
  BorderTop: 10;
  BorderBottom: 10;
}

nuiVBox!
{
  Expand: ShrinkAndGrow;
}

// blank ending line following

