nuiDemo.icns        NUI_RESOURCE    "resources/nuiDemo.icns"
nuiDemo.ico        NUI_RESOURCE    "resources/nuiDemo.ico"
nuiDemo.png        NUI_RESOURCE    "resources/nuiDemo.png"
sample.wav        NUI_RESOURCE    "resources/sample.wav"
text.txt        NUI_RESOURCE    "resources/text.txt"
css/Colors.css        NUI_RESOURCE    "resources/css/Colors.css"
css/Fonts.css        NUI_RESOURCE    "resources/css/Fonts.css"
css/Gui.css        NUI_RESOURCE    "resources/css/Gui.css"
css/nuiDemo.css        NUI_RESOURCE    "resources/css/nuiDemo.css"
decorations/buttonStartDown.png        NUI_RESOURCE    "resources/decorations/buttonStartDown.png"
decorations/buttonStartDownHover.png        NUI_RESOURCE    "resources/decorations/buttonStartDownHover.png"
decorations/buttonStartUp.png        NUI_RESOURCE    "resources/decorations/buttonStartUp.png"
decorations/buttonStartUpHover.png        NUI_RESOURCE    "resources/decorations/buttonStartUpHover.png"
decorations/knob.png        NUI_RESOURCE    "resources/decorations/knob.png"
decorations/knobSwitch.png        NUI_RESOURCE    "resources/decorations/knobSwitch.png"
decorations/oscilloBackground.png        NUI_RESOURCE    "resources/decorations/oscilloBackground.png"
decorations/oscilloGloss.png        NUI_RESOURCE    "resources/decorations/oscilloGloss.png"
decorations/pane.png        NUI_RESOURCE    "resources/decorations/pane.png"
decorations/sliderBkg.png        NUI_RESOURCE    "resources/decorations/sliderBkg.png"
decorations/sliderHandle.png        NUI_RESOURCE    "resources/decorations/sliderHandle.png"
decorations/title.png        NUI_RESOURCE    "resources/decorations/title.png"
0 ICON "resources/nuiDemo.ico"
1 ICON "resources/nuiDemo.ico"
