

// you can include your stylesheets this way:
// #include "myStylesheet.css"

// remember each stylesheet file must have at least a blank ending line, 
// or the stylehsheet parsing may not work properly

@Font fontFileSelector
{
  GenericName: sans-serif;
  Size: 12;
  Bold: false;
  Italic: false;
}


@nuiGradientDecoration dMainContainer
{
  Color1: rgb(190,190,190);
  Color2: rgb(140,140,140);
  ShapeMode: Fill;
  ClientRect: "{10 10 0 0}";
}


"MainContainer"!
{
  DecorationMode: Border;
  Decoration: dMainContainer;
}


"VersionNumber"!
{
  TextColor: rgb(150,150,150);
}


@Font FontTabView_Title
{
  GenericName: sans-serif;
  Size: 12;
  Bold: true;
  Italic: false;  
}

"TabView::Title"!
{
  Font: FontTabView_Title;
  BorderTop: 6;
  BorderBottom: 6;
  BorderLeft: 3;
  BorderRight: 3;
}



@nuiGradientDecoration dToolpane_Title
{
  Color1: rgb(91,110,141);
  Color2: rgb(34,66,114);
  ShapeMode: Fill;
  ClientRect: "{5 5 0 0}";
}


@nuiGradientDecoration dToolpane_Contents
{
  Color1: rgb(236,231,231);
  Color2: rgb(255,255,255);
  StrokeColor: rgb(204,204,204);
  ShapeMode: StrokeAndFill;
  ClientRect: "{5 5 0 0}";
}

"Toolpane::Title"!
{
  DecorationMode: Border;
  Decoration: dToolpane_Title;
}

"Toolpane::Contents"!
{
  DecorationMode: Border;
  Decoration: dToolpane_Contents;
}




/////////////////////////////////////////////////
//
// ICONS
//
//

"Icon::SourceDirectory"!
{
  Texture: "rsrc:/decorations/iconNui.png";
  UserWidth: 48;
  UserHeight: 48;
  BorderTop: 50;
  BorderLeft: 5;
}

"Icon::SourceDirectory::Disabled"!
{
  Texture: "rsrc:/decorations/iconNuiDisabled.png";
  UserWidth: 48;
  UserHeight: 48;
  BorderTop: 50;
  BorderLeft: 5;
}

"Icon::ProjectDirectory"!
{
  Texture: "rsrc:/decorations/iconNui.png";
  UserWidth: 48;
  UserHeight: 48;
  BorderTop: 50;
  BorderLeft: 5;
}

"Icon::ProjectDirectory::Disabled"!
{
  Texture: "rsrc:/decorations/iconNuiDisabled.png";
  UserWidth: 48;
  UserHeight: 48;
  BorderTop: 50;
  BorderLeft: 5;
}


"Icon::Xcode"!
{
  Texture: "rsrc:/decorations/iconXcode.png";
  UserWidth: 40;
  UserHeight: 40;
  BorderTop: 5;
  BorderLeft: 10;
}

"Icon::Xcode::Disabled"!
{
  Texture: "rsrc:/decorations/iconXcodeDisabled.png";
  UserWidth: 40;
  UserHeight: 40;
  BorderTop: 5;
  BorderLeft: 10;
}


"Icon::VisualStudio2005"!
{
  Texture: "rsrc:/decorations/iconVisualStudio2005.png";
  UserWidth: 48;
  UserHeight: 48;
  BorderTop: 5;
  BorderLeft: 7;
}


"Icon::VisualStudio2005::Disabled"!
{
  Texture: "rsrc:/decorations/iconVisualStudio2005Disabled.png";
  UserWidth: 48;
  UserHeight: 48;
  BorderTop: 5;
  BorderLeft: 7;
}




"Icon::VisualStudio2008"!
{
  Texture: "rsrc:/decorations/iconVisualStudio2008.png";
  UserWidth: 48;
  UserHeight: 48;
  BorderTop: 5;
  BorderLeft: 7;
}


"Icon::VisualStudio2008::Disabled"!
{
  Texture: "rsrc:/decorations/iconVisualStudio2008Disabled.png";
  UserWidth: 48;
  UserHeight: 48;
  BorderTop: 5;
  BorderLeft: 7;
}



"Icon::iPhone"!
{
  Texture: "rsrc:/decorations/iconXcodeiPhone.png";
  UserWidth: 40;
  UserHeight: 40;
  BorderTop: 5;
  BorderLeft: 10;
}

"Icon::iPhone::Disabled"!
{
  Texture: "rsrc:/decorations/iconXcodeiPhoneDisabled.png";
  UserWidth: 40;
  UserHeight: 40;
  BorderTop: 5;
  BorderLeft: 10;
}


// File Selector

"nuiFileSelector::FolderLabel"!
{
  Font: fontFileSelector;
}
  
"nuiFileSelector::TreeFolderLabel"!
{
  Font: fontFileSelector;
}
  
"nuiFileSelector::TreeFileLabel"!
{
  Font: fontFileSelector;
}
  

// blank ending line following

