//
// main nui3 stylesheet
//

// you can include your stylesheets this way:
// #include "myStylesheet.css"

// remember each stylesheet file must have at least a blank ending line, 
// or the stylehsheet parsing may not work properly


"MyImage"!
{
  Texture: "rsrc:/decorations/image.png";
  UserWidth: 100;
  UserHeight: 100;
}


@nuiColorDecoration dMyLabel
{
  FillColor: rgb(220,220,220);
  StrokeColor: black;
  ShapeMode: StrokeAndFill;
  ClientRect: {10 10 0 0};
}

"MyLabel"!
{
  DecorationMode: Border;
  Decoration: dMyLabel;
}

// blank ending line following

+nuiLabel Prout
{
  Text: Prout;
  TextColor: blue;
  Position: center;
  LayoutAnimationDuration: 1.0;
}


+Bleh WidgetFromCSS
{
  //Position: Center;
  +nuiLabel
  {
    Text: "Bleh!!!";
    Position: center;
    LayoutAnimationDuration: 0.3;
  }

  +nuiLabel ThisOneHasAName
  {
    Text: "Aaha!!!";
    TextColor: MaCouleurTropCool;
    Position: center;
    LayoutAnimationDuration: 0.6;
  }

  +Prout; // Default color
  
  +Prout // Overide default color!
  {
    TextColor: orange;
    LayoutAnimationDuration: 0.8;
  }
  
  +nuiImage TestImage
  {
    Texture: "rsrc:/decorations/image.png";
    LayoutAnimationDuration: 0.5;
    RedrawOnHover: true;
  }
}

"TestImage"[Hover:true]
{
  UserWidth: 160;
  UserHeight: 100;
}

"TestImage"[Hover:false]
{
  UserWidth: 120;
  UserHeight: 80;
}

