//
// main nui3 stylesheet
//

// you can include your stylesheets this way:
// #include "myStylesheet.css"

// remember each stylesheet file must have at least a blank ending line, 
// or the stylehsheet parsing may not work properly



"MyButton"!
{
  BorderLeft: 10;
  BorderRight: 10;
  BorderTop: 5;
  BorderBottom: 5;
}

// blank ending line following

