icon.icns        NUI_RESOURCE    "resources/icon.icns"
icon.ico        NUI_RESOURCE    "resources/icon.ico"
icon.png        NUI_RESOURCE    "resources/icon.png"
css/main.css        NUI_RESOURCE    "resources/css/main.css"
decorations/BlueLightON.png        NUI_RESOURCE    "resources/decorations/BlueLightON.png"
decorations/fondtrack.png        NUI_RESOURCE    "resources/decorations/fondtrack.png"
decorations/gnu.png        NUI_RESOURCE    "resources/decorations/gnu.png"
decorations/image.png        NUI_RESOURCE    "resources/decorations/image.png"
decorations/jpeg.jpg        NUI_RESOURCE    "resources/decorations/jpeg.jpg"
decorations/ngl.png        NUI_RESOURCE    "resources/decorations/ngl.png"
decorations/nui.png        NUI_RESOURCE    "resources/decorations/nui.png"
decorations/rasters.png        NUI_RESOURCE    "resources/decorations/rasters.png"
decorations/rasters2.png        NUI_RESOURCE    "resources/decorations/rasters2.png"
decorations/testalacon.png        NUI_RESOURCE    "resources/decorations/testalacon.png"
decorations/toucan.png        NUI_RESOURCE    "resources/decorations/toucan.png"
decorations/white-xifish.png        NUI_RESOURCE    "resources/decorations/white-xifish.png"
0 ICON "resources/icon.ico"
