icon.icns        NUI_RESOURCE    "resources/icon.icns"
icon.ico        NUI_RESOURCE    "resources/icon.ico"
icon.png        NUI_RESOURCE    "resources/icon.png"
audio/drums-loop.wav        NUI_RESOURCE    "resources/audio/drums-loop.wav"
audio/sound0.wav        NUI_RESOURCE    "resources/audio/sound0.wav"
audio/sound1.wav        NUI_RESOURCE    "resources/audio/sound1.wav"
audio/sound10.wav        NUI_RESOURCE    "resources/audio/sound10.wav"
audio/sound11.wav        NUI_RESOURCE    "resources/audio/sound11.wav"
audio/sound12.wav        NUI_RESOURCE    "resources/audio/sound12.wav"
audio/sound13.wav        NUI_RESOURCE    "resources/audio/sound13.wav"
audio/sound14.wav        NUI_RESOURCE    "resources/audio/sound14.wav"
audio/sound15.wav        NUI_RESOURCE    "resources/audio/sound15.wav"
audio/sound2.wav        NUI_RESOURCE    "resources/audio/sound2.wav"
audio/sound3.wav        NUI_RESOURCE    "resources/audio/sound3.wav"
audio/sound4.wav        NUI_RESOURCE    "resources/audio/sound4.wav"
audio/sound5.wav        NUI_RESOURCE    "resources/audio/sound5.wav"
audio/sound6.wav        NUI_RESOURCE    "resources/audio/sound6.wav"
audio/sound7.wav        NUI_RESOURCE    "resources/audio/sound7.wav"
audio/sound8.wav        NUI_RESOURCE    "resources/audio/sound8.wav"
audio/sound9.wav        NUI_RESOURCE    "resources/audio/sound9.wav"
css/style-Common.css        NUI_RESOURCE    "resources/css/style-Common.css"
css/style-iPhone.css        NUI_RESOURCE    "resources/css/style-iPhone.css"
css/style.css        NUI_RESOURCE    "resources/css/style.css"
decorations/Background-iPhone.png        NUI_RESOURCE    "resources/decorations/Background-iPhone.png"
decorations/Background.png        NUI_RESOURCE    "resources/decorations/Background.png"
decorations/Logo.png        NUI_RESOURCE    "resources/decorations/Logo.png"
0 ICON "resources/icon.ico"
