//
// main nui3 stylesheet
//

// you can include your stylesheets this way:
// #include "myStylesheet.css"

// remember each stylesheet file must have at least a blank ending line, 
// or the stylehsheet parsing may not work properly


"MyImage"!
{
  Texture: "rsrc:/decorations/image.png";
  UserWidth: 100;
  UserHeight: 100;
}


@nuiColorDecoration dMyLabel
{
  FillColor: rgb(220,220,220);
  StrokeColor: black;
  ShapeMode: StrokeAndFill;
  ClientRect: "{10 10 0 0}";
}

"MyLabel"!
{
  DecorationMode: Border;
  Decoration: dMyLabel;
}

// blank ending line following

