//
// main nui3 stylesheet
//

// you can include your stylesheets this way:
// #include "myStylesheet.css"

// remember each stylesheet file must have at least a blank ending line, 
// or the stylehsheet parsing may not work properly


@Font FontHyperLink
{
  GenericName: sans-serif;
  Size: 48;
  Bold: true;
  Italic: false;
}

@Font FontNormal
{
  GenericName: sans-serif;
  Size: 18;
  Bold: false;
  Italic: false;
}


"Tab1Contents"!
{
  Font: FontNormal;
  Orientation: Vertical;
}

"Tab2Title"!
{
  Texture: "rsrc:/decorations/image.png";
  UserWidth: 32;
  UserHeight: 32;
  BorderLeft: 8;
  BorderRight: 8;
}

"Tab2Contents"!
{
  Texture: "rsrc:/decorations/image.png";
}

"HyperLink"!
{
  Font: FontHyperLink;
}


"TabButton"!
{
  UserWidth: 90;
  UserHeight: 30;
}

