css/yapuka.css        NUI_RESOURCE    "resources/css/yapuka.css"
decorations/iconKO.png        NUI_RESOURCE    "resources/decorations/iconKO.png"
decorations/iconNui.png        NUI_RESOURCE    "resources/decorations/iconNui.png"
decorations/iconNuiDisabled.png        NUI_RESOURCE    "resources/decorations/iconNuiDisabled.png"
decorations/iconOK.png        NUI_RESOURCE    "resources/decorations/iconOK.png"
decorations/iconVisualStudio.png        NUI_RESOURCE    "resources/decorations/iconVisualStudio.png"
decorations/iconVisualStudioDisabled.png        NUI_RESOURCE    "resources/decorations/iconVisualStudioDisabled.png"
decorations/iconXcode.png        NUI_RESOURCE    "resources/decorations/iconXcode.png"
decorations/iconXcodeDisabled.png        NUI_RESOURCE    "resources/decorations/iconXcodeDisabled.png"
decorations/iconXcodeiPhone.png        NUI_RESOURCE    "resources/decorations/iconXcodeiPhone.png"
decorations/iconXcodeiPhoneDisabled.png        NUI_RESOURCE    "resources/decorations/iconXcodeiPhoneDisabled.png"
project/dlist.plist        NUI_RESOURCE    "resources/project/dlist.plist"
project/Info.plist        NUI_RESOURCE    "resources/project/Info.plist"
project/project.pbxproj        NUI_RESOURCE    "resources/project/project.pbxproj"
project/project.sln        NUI_RESOURCE    "resources/project/project.sln"
project/project.vcproj        NUI_RESOURCE    "resources/project/project.vcproj"
project/project_iPhone.pbxproj        NUI_RESOURCE    "resources/project/project_iPhone.pbxproj"
project/resource.rc        NUI_RESOURCE    "resources/project/resource.rc"
project/resources/icon.icns        NUI_RESOURCE    "resources/project/resources/icon.icns"
project/resources/icon.ico        NUI_RESOURCE    "resources/project/resources/icon.ico"
project/resources/css/main.css        NUI_RESOURCE    "resources/project/resources/css/main.css"
project/resources/decorations/image.png        NUI_RESOURCE    "resources/project/resources/decorations/image.png"
project/src/Application.cpp        NUI_RESOURCE    "resources/project/src/Application.cpp"
project/src/Application.h        NUI_RESOURCE    "resources/project/src/Application.h"
project/src/MainWindow.cpp        NUI_RESOURCE    "resources/project/src/MainWindow.cpp"
project/src/MainWindow.h        NUI_RESOURCE    "resources/project/src/MainWindow.h"
