icon.icns        NUI_RESOURCE    "resources/icon.icns"
icon.ico        NUI_RESOURCE    "resources/icon.ico"
icon.png        NUI_RESOURCE    "resources/icon.png"
css/yapuka.css        NUI_RESOURCE    "resources/css/yapuka.css"
decorations/iconKO.png        NUI_RESOURCE    "resources/decorations/iconKO.png"
decorations/iconNui.png        NUI_RESOURCE    "resources/decorations/iconNui.png"
decorations/iconNuiDisabled.png        NUI_RESOURCE    "resources/decorations/iconNuiDisabled.png"
decorations/iconOK.png        NUI_RESOURCE    "resources/decorations/iconOK.png"
decorations/iconVisualStudio2005.png        NUI_RESOURCE    "resources/decorations/iconVisualStudio2005.png"
decorations/iconVisualStudio2005Disabled.png        NUI_RESOURCE    "resources/decorations/iconVisualStudio2005Disabled.png"
decorations/iconVisualStudio2008.png        NUI_RESOURCE    "resources/decorations/iconVisualStudio2008.png"
decorations/iconVisualStudio2008Disabled.png        NUI_RESOURCE    "resources/decorations/iconVisualStudio2008Disabled.png"
decorations/iconXcode.png        NUI_RESOURCE    "resources/decorations/iconXcode.png"
decorations/iconXcodeDisabled.png        NUI_RESOURCE    "resources/decorations/iconXcodeDisabled.png"
decorations/iconXcodeiPhone.png        NUI_RESOURCE    "resources/decorations/iconXcodeiPhone.png"
decorations/iconXcodeiPhoneDisabled.png        NUI_RESOURCE    "resources/decorations/iconXcodeiPhoneDisabled.png"
0 ICON "resources/icon.ico"
