css/ProjectGenerator.css        NUI_RESOURCE    "resources/css/ProjectGenerator.css"
css/yapuka.css        NUI_RESOURCE    "resources/css/yapuka.css"
project/dlist.plist        NUI_RESOURCE    "resources/project/dlist.plist"
project/Info.plist        NUI_RESOURCE    "resources/project/Info.plist"
project/project.pbxproj        NUI_RESOURCE    "resources/project/project.pbxproj"
project/project.sln        NUI_RESOURCE    "resources/project/project.sln"
project/project.vcproj        NUI_RESOURCE    "resources/project/project.vcproj"
project/project_iPhone.pbxproj        NUI_RESOURCE    "resources/project/project_iPhone.pbxproj"
project/resource.rc        NUI_RESOURCE    "resources/project/resource.rc"
project/resources/icon.icns        NUI_RESOURCE    "resources/project/resources/icon.icns"
project/resources/icon.ico        NUI_RESOURCE    "resources/project/resources/icon.ico"
project/resources/css/main.css        NUI_RESOURCE    "resources/project/resources/css/main.css"
project/resources/decorations/image.png        NUI_RESOURCE    "resources/project/resources/decorations/image.png"
project/src/Application.cpp        NUI_RESOURCE    "resources/project/src/Application.cpp"
project/src/Application.h        NUI_RESOURCE    "resources/project/src/Application.h"
project/src/MainWindow.cpp        NUI_RESOURCE    "resources/project/src/MainWindow.cpp"
project/src/MainWindow.h        NUI_RESOURCE    "resources/project/src/MainWindow.h"
