//@nuiFrame dGui
//{
//  Texture: "rsrc:/decorations/bg-brushed_metal.png";
//  ClientRect: "{0 0 220 225}";
//}
//
//Gui!
//{
//  Decoration: dGui;
//}

"ImageTitle"!
{
  Texture: "rsrc:/decorations/title.png";
  BorderLeft: 10;
  BorderTop: 10;
}


@nuiStateDecoration dButtonStart
{
  OnUp: "rsrc:/decorations/buttonStartUp.png";
  OnUpHover: "rsrc:/decorations/buttonStartUpHover.png";
  OnDown: "rsrc:/decorations/buttonStartDown.png";
  OnDownHover: "rsrc:/decorations/buttonStartDownHover.png";
  // you could also use a map for the following states if you need:
  // OnSelected, OnDisabled, OnDisabledSelected, OnUpDisabled, OnDownDisabled
  // please have a look to nuiStateDecoration.h
}


"ButtonStart"!
{
  DecorationMode: Border;
  Decoration: dButtonStart;
}


@nuiFrame dguiOscillo
{
  Texture: "rsrc:/decorations/oscilloBackground.png";
  ClientRect: "{2 2 4 4}";
}

guiOscillo!
{
  DecorationMode: Border;
  Decoration: dguiOscillo;
  UserRect: "{0 0 400 170}";
  // you could also use UserWidth:400 and UserHeight:170
  BorderRight: 20;
}

"Text"!
{
  TextColor:red;
}

// don't forget to add a blank ending line
