icon.icns        NUI_RESOURCE    "resources/icon.icns"
icon.ico        NUI_RESOURCE    "resources/icon.ico"
icon.png        NUI_RESOURCE    "resources/icon.png"
myVirtualDisk.zip        NUI_RESOURCE    "resources/myVirtualDisk.zip"
myFolder/css/style-Common.css        NUI_RESOURCE    "resources/myFolder/css/style-Common.css"
myFolder/css/style-iPhone.css        NUI_RESOURCE    "resources/myFolder/css/style-iPhone.css"
myFolder/css/style.css        NUI_RESOURCE    "resources/myFolder/css/style.css"
myFolder/images/Background-iPhone.png        NUI_RESOURCE    "resources/myFolder/images/Background-iPhone.png"
myFolder/images/Background.png        NUI_RESOURCE    "resources/myFolder/images/Background.png"
myFolder/images/Logo.png        NUI_RESOURCE    "resources/myFolder/images/Logo.png"
0 ICON "resources/icon.ico"
