icon.icns        NUI_RESOURCE    "resources/icon.icns"
icon.ico        NUI_RESOURCE    "resources/icon.ico"
icon.png        NUI_RESOURCE    "resources/icon.png"
css/style.css        NUI_RESOURCE    "resources/css/style.css"
decorations/SwipeIcon.png        NUI_RESOURCE    "resources/decorations/SwipeIcon.png"
decorations/SwipeIcon@2x.png        NUI_RESOURCE    "resources/decorations/SwipeIcon@2x.png"
decorations/arrow/activated/down.png        NUI_RESOURCE    "resources/decorations/arrow/activated/down.png"
decorations/arrow/activated/down@2x.png        NUI_RESOURCE    "resources/decorations/arrow/activated/down@2x.png"
decorations/arrow/initiated/middle.png        NUI_RESOURCE    "resources/decorations/arrow/initiated/middle.png"
decorations/arrow/initiated/middle@2x.png        NUI_RESOURCE    "resources/decorations/arrow/initiated/middle@2x.png"
decorations/arrow/off/up.png        NUI_RESOURCE    "resources/decorations/arrow/off/up.png"
decorations/arrow/off/up@2x.png        NUI_RESOURCE    "resources/decorations/arrow/off/up@2x.png"
0 ICON "resources/icon.ico"
