//
// main nui3 stylesheet
//

// you can include your stylesheets this way:
// #include "myStylesheet.css"

// remember each stylesheet file must have at least a blank ending line, 
// or the stylehsheet parsing may not work properly

@Font fontFileSelector
{
  Name: "Lucida Grande";
  Size: 12;
  Bold: false;
  Italic: false;
}

"Tutorial::Label"!
{
  Font: fontFileSelector;
}

// blank ending line following

